#eventContainer {
  height: 50%;
}

.search-bar {
  text-align: center;
  margin: 50px;
}

.search-bar input {
  width: 65%;
}

.event-item img {
  max-width: 64px;
}

.event-detail {
  margin-left: 80px;
}

.event-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
}

.list-group-item {
  cursor: pointer;
}

.list-group {
  text-align: left;
  height: 500px;
  overflow: scroll;
  border: solid 1px lightgray;
  border-radius: 4px;
} 


.list-group-item:hover {
  background-color: #eee;
}


.content {
  margin: 50px 30px 10px;
  height: 10px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}


.search-bar {
    border: none;
    padding: 0px;
    margin: 50px;
    height: auto;
    width: 100%;
    z-index: 6;
    left: 0px;
    outline: none;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  text-align: left;
  margin-bottom: 16px;
}

.event-detail img {
  border-radius: 4px;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.58),0 4px 15px 0 rgba(0,0,0,.45);
}

